

.title{
    margin-left: 12%;
    height: 1000px;
    width: 1000px;
    background-color: rgb(13, 31, 31);
}

#title{
    background: url(../image/world.webp );
    width: 700px;
    height: 150px;
    border : 1px solid black;
    background-size: cover;
    padding: 25px;
    margin-left: 120px;
    
}

.slogan{
    color: rgb(252, 232, 232);
}

.ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.ul li{

    float:left;
  border-right:1px solid #bbb;

}

 .ul li:last-child{
    border-right: none;
    
}

.li a{
    display: block;
  color: rgb(255, 247, 247);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
    

.menu{
    color: white;
}
  

.selections ul a{
    color: white;
}
  
   
    
  
  